.infinite-container {
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;
  background-color: rgb(250, 243, 234);
  padding: 1rem 0;
}
.infinite-container:hover .infinite-track {
  animation-play-state: paused;
}

.card {
  flex: 0 0 auto;
  max-width: max-content;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 0 1;
  margin-right: 1rem;
  padding: 10px;
}

.infinite-track {
  display: flex;
  width: max-content;
  min-width: min-content;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

/** tech-btn */
/* From Uiverse.io by Allyhere */
.tech-btn {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(83, 85, 85);
  --btn-bg-2: rgb(17, 18, 19);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(77, 77, 78, 0.5),
    0px 5px 5px -1px rgba(46, 46, 46, 0.25),
    inset 4px 4px 8px rgba(22, 22, 22, 0.5),
    inset -4px -4px 8px rgba(0, 0, 0, 0.35);
}

.tech-btn:hover {
  background-position: right top;
}

.tech-btn:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .tech-btn {
    transition: linear;
  }
}
